<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRC60C1pbDYrSKA5bIukTvDGu22RtJugM</string>
	<key>GCM_SENDER_ID</key>
	<string>829560051923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mironline.mironline</string>
	<key>PROJECT_ID</key>
	<string>mironline-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mironline-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829560051923:ios:970f6adb262cf1457adc26</string>
</dict>
</plist>